.ResultBody {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efeeee;
}
.ResultBody .Search {
    margin-top: 30px;
}
.ResultBody .Search .Search-Title .Search-Icon {
    color: #12866e;
    font-size: 25pt;
    margin-left: 10px;
}
.ResultBody .Search .Search-Title {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: white;
    padding: 5px;
}
.ResultBody .Search .Search-Title .Search-Title1 {
    margin-left: 20px;
}
.ResultBody .Search .Bewertung {
    margin-top: 5px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: white;
}
.ResultBody .Bewertung .Bewertung-Title{
    display: flex;
    justify-content: left;
}
.ResultBody .Bewertung .RatingStar .Star-Title {
    font-size: 11pt;
}
.ResultBody .Bewertung .RatingStar .RatingRow{
    display: flex;
    align-items: center;
}
.ResultBody .Search .Geschiecht {
    background-color: white;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.ResultBody .Search .Geschiecht .Geschiecht-Title {
    display: flex;
    justify-content: start;
}
.ResultBody .Search .Geschiecht .Geschiecht-Button{
    display: flex;
    justify-content: left;
}
.ResultBody .Search .Geschiecht .Geschiecht-Button .Every-Button {
    margin: 2px;
}
.ResultBody .Search .Geschiecht .Geschiecht-Button .Every-Button:focus{
    background-color: green;
}
.ResultBody .Search .CustomSlider {
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 25px;
    background-color: white;
}
.ResultBody .Search .CustomSlider .Slider-Main {
    
}
.ResultBody .Search .CustomSlider .Slider-Text {
    display: flex;
    align-items:center;
    justify-content: start;
}
.ResultBody .Search .CustomSlider .Slider-Title {    
}
.ResultBody .Search .CustomSlider .Slider-Curval {
    margin-left: 15px;
    font-size: 9pt;
}
.Title-Class {
    font-size: 14pt;
    font-weight: 800;
    text-align: left;
    /* transform: scale(1.1, 1); */
}
.ResultBody .Search .Musik-Rich {
    background-color: white;
    margin-top: 5px;
    padding-left: 20px;
    text-align: left;
}
/* .ResultBody .Search .Musik-Rich .Musik-Title {
    margin-left: 20px;
} */
.CustomCheck {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.CustomCheck .Check-Control-Input {
    width: 25px;
    height: 25px;
}
.CustomCheck .Check-Control-Label {
    font-size: 12pt;
    margin-left: 20px;
    margin-top: 5px;
}
