.ProBewer {
    margin-top: 50px;
    margin-bottom: 50px;
}
.ProBewer .Bewertungen {
    border:#efeeee solid 6px;
}
.ProBewer .title {
    display: flex;
    color: #12866e;
    border-bottom: #efeeee solid 2px;
}
.ProBewer .title .title-icon {
    margin-top: 10px;
    font-size: 30pt;
}
.ProBewer .title .title-text {
    padding-left: 20px;
    text-align: left;
}
.ProBewer .title .title-text h5{
    font-size: 20pt;
}
.ProBewer .title .title-text h6{
    font-size: 13pt;
}
.ProBewer .Bewertungen .Stars-Title {
    font-weight: bold;
    text-align: left;
    font-size: 13pt;
}
.ProBewer .Bewertungen .Stars {
    margin-left: 20px;
    margin-top: 10px;
    border-bottom: #efeeee solid 2px;
}
.contain{
    width: 100%;
    display: flex;
    align-items: center;
}
.Star-Title{
    font-weight: bold;
    display: flex;
    justify-content: start;
    font-size: 13pt;
}
.Star-Mark{
    display: flex;
    justify-content: start;
}
.Rating-Value{
    display: flex;
    justify-content: start;
}
.ProBewer .Bewertungen .Overall-Star {
    margin-left: 20px;
    margin-top: -5px;
}
.ProBewer .Bewertungen .Overall {
    margin-top: 10px;
    text-align: start;
    margin-left: 13px;
}
.ProBewer .Bewertungen .Overall .Overall-Title {
    font-size: 13pt;
    font-weight: bold;
}
.progress-bar {
    background-color: #760058;
}

.Progress {
    font-size: 14pt;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.Progress .Pro-Main {
    margin-top: 5px;
}
.Evalue-Div {
    margin-top: 10px;
}
.Evalue-Title {
    text-align: left;
    font-size: 15pt;
    font-weight: bold;
    text-decoration: underline;
    color: #12866e;
}
.Evalue-Value {
    text-align: left;
    font-size: 14pt;
}
.Evaluations {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Evaluations-Title {
    text-align: left;
    font-weight: bold;
    font-size: 15pt;
}
.ProBewer .Musical { 
}
.ProBewer .Musical .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 22pt;
    font-weight: bold;
}
