
.TabLayout {
    position: absolute;
    top: 450px;
    font-family: 'Conv_Museo700-Regular';
    z-index: 9;
    width: 100%;
}

.TabLayout .nav-tabs .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    color: white;
    font-weight: 900;
    background-color: black;
    border: solid 0px white;
    margin-right: 4px;
    padding-left: 50px;
    padding-right: 50px;
}

.TabLayout .tab-content {
    background-color: white;
    margin-top: 1px;
}
.TabLayout .nav-tabs .active {
    background-color: white;
    color: black;
}

.TabLayout .nav-tabs {
    border: none;
}

.TabLayout .nav-tabs .nav-link .tab-icon {
    margin-top: -5px;
}

.TabLayout .nav-tabs .nav-link .tab-pa{
    background-color: white;
}