.ProfileSlider {
    font-family: Arial, Helvetica, sans-serif;
}
.ProfileSlider .Slider-Main .Title-Text {
    color: white;
    padding-left: 50px;
    padding-top: 40px;
}
.ProfileSlider .Slider-Main .Title-Text .Sm-Text {
    display: flex;
    justify-content: start;
    font-size: 22pt;
    transform: scale(1, 1.3);
}
.ProfileSlider .Slider-Main .Title-Text .Line-Text {
    margin-top: 20px;
    border-top: red solid 2px;
    width: 270px;
}
.ProfileSlider .Slider-Main .Title-Text .La-Text {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    font-size: 50pt;
    transform: scale(1, 1.3);
}
.ProfileSlider .ProfileSlider-main img {
    width: 98%;
    height: 600px;
}
.ProfileSlider .carousel .carousel-item img {
    height: 350px;
}

.ProfileSlider .Slider-Main {
    margin-top: -450px;
}

.ProfileSlider .react-multi-carousel-list ul li div img {
    background: inherit;
    height: 80px;
    width: 100%;
    padding: 5%;
}

.ProfileSlider .carousel-indicators {
    display: none;
}