.ProfileSlider {
    
}
.ProfileSlider .Slider-Main .Title-Text {
    color: white;
}
.ProfileSlider .ProfileSlider-main img {
    width: 98%;
    height: 600px;
}
.ProfileSlider .carousel .carousel-item img {
    height: 350px;
}

.ProfileSlider .Slider-Main {
    margin-top: -450px;
}

.ProfileSlider .react-multi-carousel-list ul li div img {
    background: inherit;
    height: 80px;
    width: 100%;
    padding: 5%;
}

.ProfileSlider .carousel-indicators {
    display: none;
}